<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>Add New Workout</title>
  <link rel="stylesheet" href="/css/styles_workouts.css">
</head>
<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <h2>Add New Workout</h2>
    <% if (errors.length > 0) { %>
      <ul class="errors">
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>
    <form action="/workouts" method="POST" id="workoutForm">
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" value="<%= data.date || '' %>" required>
      <br>
      <h3>Exercises</h3>
      <div id="exercisesContainer">
        <% data.exercises.forEach(function(ex, index) { %>
          <fieldset class="exerciseGroup">
            <legend>Exercise Group <%= index + 1 %></legend>
            <label>Exercise:</label>
            <select name="exercise[]" class="exercise" required>
              <option value="">-- Select Exercise --</option>
              <% exerciseOptions.forEach(function(opt) { %>
                <option value="<%= opt %>" <%= ex.exercise === opt ? "selected" : "" %>><%= opt %></option>
              <% }); %>
            </select>
            <br>
            <label>Exercise Type:</label>
            <select name="exerciseType[]" class="exerciseType" data-current="<%= ex.exerciseType || '' %>" required>
              <option value="">-- Select Type --</option>
            </select>
            <br>
            <label>Goal:</label>
            <input type="text" name="goal[]" value="<%= ex.goal || '' %>" required>
          </fieldset>
          <br>
        <% }); %>
      </div>
      <button type="button" class="modify" id="addExerciseBtn">Add Exercise</button>
      <br><br>
      <button type="submit" class="modify">Save</button>
    </form>
    <a href="/workouts">Back to List</a>
    <script src="/js/exerciseTypes.js"></script>
    <script src="/js/workoutForm.js"></script>
  </main>
</body>
</html>