<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Records</title>
  <link rel="stylesheet" href="/styles_records.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/workouts">Training</a></li>
        <li><a href="/goals">Goals</a></li>
        <li><a href="/records" class="active">Records</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <section class="records">
      <div class="records-header">
        <h2>Records</h2>
        <button class="add-record" onclick="window.location.href='/records/new'">Add Record</button>
      </div>
    <table>
      <thead>
        <tr>
          <th>DAY</th>
            <th>EXERCISE</th>
            <th>EXERCISE TYPE</th>
            <th>RECORD</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <% records.forEach(record => { %>
          <tr>
            <td><%= record.date %></td>
            <td><%= record.exercise %></td>
            <td><%= record.exerciseType %></td>
            <td><%= record.record %></td>
            <td>
              <div class="actions">
                <button class="modify" onclick="window.location.href='/records/<%= record.id %>/edit'">Modify</button>
                <form action="/records/<%= record.id %>/delete" method="POST" style="display:inline;">
                  <button type="submit" onclick="return confirm('Are you sure?');" class="delete">Delete</button>
                </form>                  
              </div>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </main>
</body>
</html>